<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- No Script -->
        <style>
            #noscript {
                text-align: center;
                margin-top: 20px;
                font-size: 20px;
                white-space: pre-wrap;
                font-family: Helvetica, sans-serif;
            }
        </style>

        <!-- Global CSS -->
        <style>
            body {
                margin: 0;
                font-size: 0;
                font-weight: 300;
                white-space: nowrap;
                font-family: Georgia, Times, serif;
                font-weight: 300;
            }
        </style>

        <!-- Page Data -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="Description" content="Shopping">
        <title>{{title}}</title>
    </head>
    <body>
        <noscript>
            <div id="noscript">This website requires JavaScript enabled.</div>
        </noscript>
        <div id="app"></div>
        <script src="/bundle.js" type="text/javascript"></script>
    </body>
</html>